{% extends "base/base.html" %}

{% block title %}
  인기척
{% endblock title %}

{% block css %}
{{ super() }}
<style type="text/css">
.container{
    text-align: center;
}
</style>
{% endblock css %}

{% block body %}
    {{ super() }}
    <div class="container">
        <h2>인기척 프로젝션</h2>
        
        <h3>
        그동안 말 못했던 기억을<br/>사진과 함께 올려보세요. 
        </h3>
        <p>
        국문과 수진이와 함께했던 아련한 추억, <br/>
        목이터져라 외친 꼬뒈!!! 고연전 현장, <br/>
        혈혈단신으로 떠난 내일로 여행까지~ <br/>
        여러분의 기억이 벽을 커다랗게 장식할거에요.<br/>
        (익명성보장됩니다^^)
        </p>
      <div id="main-button-container">
        <div class=main-button>
          <a href="{{ url_for('card.create_form') }}">
            <button class="btn btn-large btn-primary main-button">기억올리기</button>
          </a>
        </div>
      </div>
    </div>
{% endblock body %}
