body {
    padding-top: 70px;
}

.error-message {
    color: red;
}

.common-form {
}

.container {
    margin: auto;
    padding: 10px;
}

.common-form-container {
    margin: auto;
    width: 100%;
    max-width: 700px;
}

.common-form button {
    width: 100%;
    display: block;
    margin-top: 5px;
}

.epicl-table-nav {
    margin-bottom: -1px;
}

.btn a {
    color: #000000;
    text-decoration: none;
}

.btn-primary a, .btn-danger a {
    color: #ffffff;
    text-decoration: none;
}

table tr td a, a:hover {
    color: #000000;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.epicl-link-delete {
    color: #000000;
    text-decoration: none;
}

/* Main */
#main-button-container {
    margin-top:50px;
}

.main-button {
    margin: 5px;
}

.main-button button {
    width: 250px;
}

.common-form img{
    max-width:100%;
    height: auto;
}
