{% extends "base/master.html" %}

{% block title %}
Epicl
{% endblock title %}

{% block meta %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Epicl">
  <meta name="author" content="">
{% endblock meta %}

{% block css %}
  {{ super() }}

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">

  <!-- Base -->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='css/base.css') }}" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
    href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed"
    href="../assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../assets/ico/favicon.png">

  <!-- Custom CSS -->
  <style type="text/css">
  </style>
{% endblock css %}

{% block js %}
  {{ super() }}
  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <!-- Bootstrap 3.0 -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>

  <!-- Knockout -->
  <script src="{{ url_for('static', filename='js/knockout-2.3.0.js') }}"></script>
  
  <!-- Spin.js -->
  <script src="{{ url_for('static', filename='js/spin.min.js') }}"></script>

  <!-- Epicl utils -->
  <script language="javascript" src="{{ url_for('static', filename='js/epicl-utils.js') }}"></script>
{% endblock js %}

{% block body %}
  {{ super() }}
    {% include "base/header.html" %}
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>

    {% block after_js %}
    <!-- Le javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% endblock after_js %}
{% endblock body %}
