<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
    data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('main.main') }}">인기척</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('main.main') }}">홈</a></li>
      <li><a href="{{ url_for('card.confirm_next') }}">인증</a></li>
      <li><a href="{{ url_for('card.create_form') }}">업로드</a></li>
      <li><a href="{{ url_for('card.index') }}">목록</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if is_loggedin() %}
      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('auth.login', next=request.url) }}">Login</a></li>
      {% endif %}
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>
