{% extends "base/base.html" %}

{% block title %}
  Login
{% endblock title %}

{% block body %}
    {{ super() }}
    <div class="container">
      <div class="common-form-container">
        <form class="form common-form" action="" method="POST">
          {%- formfill data.form with data.error_dict -%}
            <fieldset>
              <div class="legend">
                <legend>Login</legend>  
              </div>
              <div class="form-group">
                <!-- Username -->
                <label for="ybs-form-username">Username</label>
                <input type="text" id="ybs-form-username" name="username" placeholder="Username" class="form-control">
              </div>
             
              <div class="form-group">
                <!-- Password-->
                <label class="control-label" for="ybs-form-password">Password</label>
                <input type="password" id="ybs-form-password" name="password" placeholder="Password" class="form-control">
              </div>

              <!-- Button -->
              <button class="btn btn-success">Sign In</button>
            </fieldset>
          {%- endformfill -%}
        </form>
        </div>
    </div>
{% endblock body %}
