{% extends "base/base.html" %}

{% block title %}
  Confirm
{% endblock title %}

{% block js %}
<script language="javascript">
function refresh() {
    window.location.reload(true);
}

setTimeout(refresh, 5 * 1000);
</script>
{% endblock js %}

{% block body %}
    {{ super() }}
    <div class="container" style="text-align:center;">
      <p>Nothing to confirm</p>
      <a href="{{ request.url }}"><button class="btn btn-primary">Refresh</button></a>
    </div>
{% endblock body %}
